<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Badokan</title>
</head>

<body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <header>
        <div id="logo">
            <img src="./images/logo/spoon-fork.svg" alt="">
            <div>Badokan</div>
        </div>
        
        <a id="hamburger" href="#"><span></span></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://doyancoding.com/about">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div id="search-box">
            <i class="fas fa-search"></i>
            <input type="text" name="search-input" id="search-input" placeholder="Pencarian">
            <button id="search-btn">Cari</button>
        </div>
        <div class="inner">
            <h1 class="title">Temukan Makanan Enak di Seluruh Indonesia</h1>
            <p class="tagline">Kurus atau gendut adalah pilihan, tapi makan enak adalah kewajiban</p>
        </div>
    </div>
    <div class="blur-effect"></div>
    <main id="main-content">
        <post-list></post-list>
    </main>
    <footer>
        <div class="inner">
            <div id="logo">
                <img src="./images/logo/spoon-fork.svg" alt="">
                <div>Badokan</div>
            </div>
            <span id="year"></span>
        </div>
    </footer>
</body>

</html>